 {% extends "index.njk" %}

<!--CONTENT-->
{% block content %}
<main class="container-fluid" id="mainContainer">
  <div class="container bg-light rounded pb-2 pt-2 mt-2 border">
    <h4>Sign in</h4>
    <p>This is a demo site and for everyones convinience you can not register with username and password.</p>
    <p>There are 5 test accounts that you can use and play with.</p>
    <p>If you want you can sign in with Github, in which case no personal information will be stored (except Twitter id and username)</p>
    <p>
      <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseAccounts">
        Show test accounts
      </button>
      <a href="/auth/github" class="btn btn-outline-dark">Sign in with Github</a>
    </p>
    <div class="collapse" id="collapseAccounts">
      <div class="card card-body">
        <p>Username: test1, Password: 12345</p>
        <p>Username: test2, Password: 12345</p>
        <p>Username: test3, Password: 12345</p>
        <p>Username: test4, Password: 12345</p>
        <p>Username: test5, Password: 12345</p>
      </div>
    </div>
    <form method="post" action="/auth/local">
      <div class="form-group">
        <label for="input-username">Username</label>
        <input id="input-username" class="form-control" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="input-password">Password</label>
        <input id="input-password" class="form-control" type="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    {% if message %}
    <span class="text-danger">{{ message }}</span>
    {% endif %}
  </div>
</main>
{% endblock %}